.titleCoffeeTime{
    background-color:  rgb(169, 90, 48);
    color: white;
    text-align: center;
    font-size: 130%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Quicksand-Bold" !important;
}
.bodyCoffeeTime{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
.divCoffeeTime{
    margin:2%;
    font-family: "Quicksand-Regular" !important;
}
.subTitleCoffeeTime{
    margin-left: 2%;
    border-bottom: rgb(169, 90, 48) solid 1px;
    width: 20%;
    color: rgb(169, 90, 48);
    font-family: "Quicksand-Medium" !important;
}
.titleB{
    margin-bottom: 5% !important;
}
.linkPage{
    color: white;
    margin-left: 2%;
    margin-top: 2%;
}
.linkPage:hover{
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}